<!DOCTYPE html>
<html>
<head>
  <tittle></title>
  <meta charset="utf-8">
  <style>
  html, body{
    background-size: 100% 100%;
    font-weight: 300;
    height: 100%;
    text-align: center;
    color:#262B34;
  }
  .bold{
    font-weight: 300;
  }
  table, th, td{
    border: 1px solid black;
  }
  td{
    text-align: center;
  }
  div.div1{
    width: 1000px;
    height: 110px;
    align-items: center;
  }
  div.div2{
    width: 1000px;
    height: 800px;
    align-items: center;
  }
  </style>
</head>

<body>
  <div class="div1" style="border-style: double; border-radius:5px;">
    <center>
      <h1 style="font-family:courier;font-size:200%" class="bold">Lista de estudiantes</h1>
      <p>Listado de estudiantes matriculadas</p>
    </center>
  </div>
  <div class="div2" style="border-style:double; border-radius:5px;">
    <center>
      <p>Código: {{code}}</p>
      <p>Nombre: {{name}}</p>
      <p>Programa: {{program}}</p>
    </center>
    <center>
      <h1 style="font-family:courier;font-size:150%" class="bold"> {{subject}} </h1>
      <h1 style="font-family:courier;font-size:100%" class="bold"> {{grupo}} </h1>
      <table>
        <tr>
          <th style="background-color: #b6b7c8;">Código</th>
          <th style="background-color: #b6b7c8;">Nombre</th>
        </tr>
        <tr style="background-color: #ffffff;">
          <td>{{code1}}</td>
          <td>{{name1}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code2}}</td>
          <td>{{name2}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code3}}</td>
          <td>{{name3}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code4}}</td>
          <td>{{name4}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code5}}</td>
          <td>{{name5}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code6}}</td>
          <td>{{name6}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code7}}</td>
          <td>{{name7}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code8}}</td>
          <td>{{name8}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code9}}</td>
          <td>{{name9}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code10}}</td>
          <td>{{name10}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code11}}</td>
          <td>{{name11}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code12}}</td>
          <td>{{name12}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code13}}</td>
          <td>{{name13}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code14}}</td>
          <td>{{name14}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code15}}</td>
          <td>{{name15}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code16}}</td>
          <td>{{name16}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code17}}</td>
          <td>{{name17}}</td>
        </tr>
        <tr style="background-color: #ffffff">
          <td>{{code18}}</td>
          <td>{{name18}}</td>
        </tr>
      </table>
    </center>
  </div>


</body>
</html>
